<h3 class="Tit">Your contracts as teacher:</h3>
<div class="containerCards">
    {{#cT}}
    <div class="ContractCard">
        <p><strong>Student:</strong> {{student.logname}} <button onclick="window.location.href='/otherProfile?userId={{student.id}}'">Go</button></p>
        <p><strong>Post:</strong> {{post.title}} <button onclick="window.location.href='/post?postId={{post.id}}'">Go</button></p>
        <p>
            Wants to cancel:
            Student({{studentWantToDelete}})
            Teacher({{teacherWantToDelete}})
        </p>
        {{#isPerfil}}
            <button onclick="window.location.href='/deleteContract?contractId={{id}}&teacher=true'">
                {{#teacherWantToDelete}}Undo{{/teacherWantToDelete}}
                {{^teacherWantToDelete}}Vote{{/teacherWantToDelete}}
                cancel
            </button>
        {{/isPerfil}}
    </div>
    {{/cT}}
</div>
{{^cT}}
<h1 class="noRes">No contracts yet. Post your own offers to attract students!</h1>
{{/cT}}
<hr>
<h3 class="Tit">Your contracts as student:</h3>
<div class="containerCards">
    {{#cS}}
    <div class="ContractCard">
        <p><strong>Teacher:</strong> {{teacher.logname}} <button onclick="window.location.href='/otherProfile?userId={{teacher.id}}'">Go</button></p>
        <p><strong>Post:</strong> {{post.title}} <button onclick="window.location.href='/post?postId={{post.id}}'">Go</button></p>
        <p>
            Wants to cancel:<br>
            Student=>{{#studentWantToDelete}}Yes{{/studentWantToDelete}}{{^studentWantToDelete}}No{{/studentWantToDelete}}
            Teacher=>{{#teacherWantToDelete}}Yes{{/teacherWantToDelete}}{{^teacherWantToDelete}}No{{/teacherWantToDelete}}
        </p>
        {{#isPerfil}}
            <button onclick="window.location.href='/deleteContract?contractId={{id}}&teacher=false'">
                {{#studentWantToDelete}}Undo{{/studentWantToDelete}}
                {{^studentWantToDelete}}Vote{{/studentWantToDelete}}
                cancel
            </button>
        {{/isPerfil}}
    </div>
    {{/cS}}
</div>
{{^cS}}
<h1 class="noRes">No contracts yet. Browse available posts and book a tutor!</h1>
{{/cS}}
