<h1>Tus contratos de profesor:</h1>
<div class="containerCards">    
    {{#cT}}
    <div class="ContractCard">
        <p class="description">{{description}}</p>
        <p>Estudiante: <a href="/Perfil/{{student.id}}">{{student.logname}}</a></p>
        <p>Post: <a href="/Oferta/{{post.id}}">{{post.title}}</a></p>
    </div>
    {{/cT}}
    {{^cT}}
    <h1>Actualmente no hay ningun contrato. Publica tus propios post que interesen a los alumnos!</h1>
    {{/cT}}
</div>
<hr>
<h1>Tus contratos de alumno:</h1>
<div class="containerCards">
    {{#cS}}
    <div class="ContractCard">
        <p class="description">{{description}}</p>
        <p>Estudiante: <a href="/Perfil/{{student.id}}">{{student.logname}}</a></p>
        <p>Post: <a href="/Oferta/{{post.id}}">{{post.title}}</a></p>
    </div>
    {{/cS}}
    {{^cS}}
    <h1>Actualmente no hay ningun post, ayuda y crealos!</h1>
    {{/cS}}
</div>
