{{>header}}
    <section class="Intro">
        {{#Nuevo}}
        <h1>~~Bienvenido!!~~</h1>
        <p>
            {{description}} 
            <a href="/Registro">Registro!</a> 
            o incia sesión en 
            <a href="/InicioSesion">InicioSesion!</a>
        </p>
        {{/Nuevo}}

        {{^Nuevo}}
        <h1>Bienvenido de vuelta!!</h1>
        {{/Nuevo}}
    </section>
    <section class="Posts">
        {{>pagesIndexs}}
        {{>postCard}}
        {{>pagesIndexs}}
    </section>
{{>footer}}


