{{>header}}
<section>
  <div class="formulariosLog">
    <h1>Login</h1>
    <form class="form" method="post" action="/log?page=1">
      {{#Incorrect}}
      <p class="try again">Try Again</p>
      {{/Incorrect}}
      <p class="field">
        <input type="text" name="logname" placeholder="Username" required/>
        <i class="fa fa-user"></i>
      </p>
      <p class="field">
        <input type="password" name="password" placeholder="Password" required/>
        <i class="fa fa-lock"></i>
      </p>
      <p class="submit"><input type="submit" name="sent" value="Login"></p>
    </form>
  </div> <!--Login-->
</section>
{{>footer}}
