{{>header}}
<section>
  <div class="cointenerContract">
    <h1>Contract Info:</h1>
    
    {{#Post}}
    <div id="postInfoContract">
      <h4>{{title}}</h4>
      <p class="des">{{description}}</p>
      <p class="res"><strong>Price</strong>: {{price}} EUR | <strong>Date</strong>: {{created_date}}</p>
    </div>
    {{/Post}}
    <div class="cointenerST">
      {{#Student}}
      <div id="studentInfoContract">
        <h4>Student:</h4>
        <p>{{logname}}</p>
      </div>
      {{/Student}}
      {{#Teacher}}
      <div id="teacherInfoContract">
        <h4>Teacher:</h4>
        <p>{{logname}}</p>
      </div>
      {{/Teacher}}
    </div>
    {{#Post}}{{#Student}}{{#Teacher}}<button onclick="window.location.href='/contract?postId={{Post.id}}&teacherId={{Teacher.id}}'">Confirm Contract</button>{{/Teacher}}{{/Student}}{{/Post}}
  </div> 
</section>
{{>footer}}
 