<div class="scroller">
    <div class="containerIndexs">
        {{#prevPages}}
        <button onclick="window.location.href='/?page={{.}'" class="prev indexpage">
            {{.}}
        </button>
        <p> </p>
        {{/prevPages}}
        <h1 class="actual indexpage">
            {{actualPage}}
        </h1>
        {{#nextPages}}
        <p> </p>
        <button onclick="window.location.href='/?page={{.}}'" class="next indexpage">
            {{.}}
        </button>
        {{/nextPages}}
    </div>
    {{#hasPrev}}
    <button onclick="window.location.href='/?page={{prevPage}}'"><=Prev</button>
    {{/hasPrev}}
    {{#hasNext}}
    <button onclick="window.location.href='/?page={{nextPage}}'">Next=></button>
    {{/hasNext}}
</div>