<div class="containerCards">
    {{#posts}}
    <div class="PostCard">
        <h1 class="title">{{title}}</h1>
        <h4 class="price"><strong>Price</strong>: {{price}} EUR</h4>
        <p class="date"><strong>Date</strong>: {{created_date}}</p>
        <button class="link" onclick="window.location.href='/post?postId={{id}}'">View Post</button>
        {{#isPerfil}}<button class="link" onclick="window.location.href='/deletePost?postId={{id}}'">Delete post</button>{{/isPerfil}}
    </div>
    {{/posts}}
</div>
{{^posts}}
<h1>No posts yet. Be the first to publish an offer!</h1>
{{/posts}}
